<footer class="footer-page">
  <div class="container footer-page-container">
    <nav class="footer-navigation">
      <div class="footer-menu list">
        <ul class="about-menu-wrapper">
          <li class="footer-menu-item">
            <a class="footer-menu-item-link link" href="#about">About us</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-item-link link" href="#collection"
              >Our collection</a
            >
          </li>
        </ul>
        <ul class="customers-menu-wrapper">
          <li class="footer-menu-item">
            <a class="footer-menu-item-link link" href="#order"
              >Customer order</a
            >
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-item-link link" href="#testimonials"
              >TEstimonials</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <h2 class="footer-title footer-title-wrapper">
      A touch of
      <span class="accent-color accent-title">Ukrainian</span> culture in every
      embroidery
    </h2>

    <div class="footer-bgr-container"></div>
  </div>
</footer>
