<header class="page-header">
  <div class="container page-header-container">
    <div class="header">
      <nav class="page-navigation">
        <a class="logotype link" href="./index.html">
          <img class="logotype-icon" src="./img/icons/logo.svg" alt="logotype" width="44" height="39" />
        </a>
        <ul class="menu-header list">
          <li class="menu-item-header">
            <a class="menu-link-header link" href="#about">About us</a>
          </li>
          <li class="menu-item-header">
            <a class="menu-link-header link" href="#collection">Our collection</a>
          </li>
          <li class="menu-item-header">
            <a class="menu-link-header link" href="#order">Customer order</a>
          </li>
          <li class="menu-item-header">
            <a class="menu-link-header link" href="#testimonials">TEstimonials</a>
          </li>
        </ul>
      </nav>
      <div class="contacts-social-list-header">
        <address class="contacts">
          <a href="tel:+380684439426" class="contact-link">+380 (68) 443-94-26</a>
        </address>

        <ul class="social-list-header list">
          <li class="social-list-item">
            <a class="social-list-link" target="_blank" href="https://www.facebook.com/goITclub/">
              <svg class="social-list-icon" width="28" height="28" aria-label="facebook icon">
                <use href="./img/icons/sprite.svg#id-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a class="social-list-link" target="_blank" href="https://www.instagram.com/goitclub/">
              <svg class="social-list-icon" width="28" height="28" aria-label="instagram icon">
                <use href="./img/icons/sprite.svg#id-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a class="social-list-link" target="_blank" href="https://www.youtube.com/c/GoIT">
              <svg class="social-list-icon" width="28" height="28" aria-label="youtube icon">
                <use href="./img/icons/sprite.svg#id-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button class="open-mobile-menu-btn js-open-menu-btn">
      <svg class="open-mobile-menu-icon" width="36" height="24" aria-label="mobile menu open icon">
        <use href="./img/icons/sprite.svg#id-nav"></use>
      </svg>
    </button>
  </div>
</header>
