<section class="hero section">
  <div class="container">
    <div class="hero-content-block">
      <div class="hero-title-block">
        <h1 class="main-title">
          Reviving the traditional
          <span class="accent-color">Ukrainian</span> artistry in every stitch.
        </h1>
        <a class="order-link link" href="#order">
          order
          <span class="order-link-icon-wrapper">
            <svg
              class="order-link-icon"
              width="26"
              height="10"
              aria-label="order link icon"
            >
              <use href="./img/icons/sprite.svg#icon-vector"></use>
            </svg>
          </span>
        </a>
      </div>
      <div>
        <img
          class="hero-girl-img"
          srcset="
            ./img/hero/girl-desktop@1x.jpg 392w,
            ./img/hero/girl-desktop@2x.jpg 784w,
            ./img/hero/girl-tablet@1x.jpg  413w,
            ./img/hero/girl-tablet@2x.jpg  826w,
            ./img/hero/girl-mobile@1x.jpg  335w,
            ./img/hero/girl-mobile@2x.jpg  670w
          "
          sizes="(min-width:1280px) 392px, (min-width:768px) 413px,
               (max-width:767px) 335px"
          src="./img/hero/girl-mobile@1x.jpg"
          alt="girl photo"
        />
      </div>
    </div>
    <div class="hero-handmade-block">
      <div class="order-star-icon-wrapper">
        <svg
          class="order-star-icon"
          width="52"
          height="51"
          aria-label="star icon"
        >
          <use href="./img/icons/sprite.svg#icon-star"></use>
        </svg>
        <p class="hero-handmade-text">all embroidery is made by hand</p>
      </div>

      <img
        class="hero-handmade-example"
        srcset="./img/hero/example-@2x.png 2x"
        src="./img/hero/example-@1x.png"
        alt="handmade example photo"
        width="142"
        height="100"
      />
    </div>
  </div>
</section>
