<div class="mobile-menu is-open">
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-btn">
      <svg
        class="mobile-menu-close-icon"
        width="44"
        height="44"
        aria-label="mobile menu close icon"
      >
        <use href="./img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <address class="mobile-contacts">
      <a href="tel:++380684439426" class="mobile-contact-link"
        >+380 (68) 443-94-26</a
      >
    </address>

    <nav class="mobile-navigation">
      <ul class="mobile-nav-list list">
        <li class="mobile-nav-item accent-color">
          <a class="mobile-nav-item-link link" href="#about">About us</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-item-link link" href="#collection"
            >Our collection</a
          >
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-item-link link" href="#order"
            >Customer order</a
          >
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-item-link link" href="#testimonials"
            >TEstimonials</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>









<!-- <div class="mobile-menu is-open">
    <div class="mobile-menu-container">
      <button class="mobile-menu-close-btn">
        <svg
          class="mobile-menu-close-icon"
          width="44"
          height="44"
          aria-label="mobile menu close icon"
        >
          <use href="./img/icons/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <address class="mobile-contact link">
        <a class="mobile-contact-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a>
      </address>

      <nav class="mobile-navigation">
        <ul class="mobile-nav-list list">
          <li class="mobile-nav-item">
            <a class="mobile-nav-item-link link" href="#about">About us</a>
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-item-link link" href="#collection"
              >Our collection</a
            >
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-item-link link" href="#order"
              >Customer order</a
            >
          </li>
          <li class="mobile-nav-item">
            <a class="mobile-nav-item-link link" href="#testimonials"
              >TEstimonials</a
            >
          </li>
        </ul>
      </nav>    
    </div>
  </div> -->