<div class="viewport-menu  ">
  <div class="menu-window ">
    <button class="form-button-menu" type="button">
      <svg class="close-black " width="44" height="44">
        <use href="../img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <address class="contacts-window">
      <a href="tel:++380684439426" class="contact-link-window">+380 (68) 443-94-26</a>
    </address>
    <ul class="menu-header-window list">
      <li class="menu-item-header-window">
        <a class="menu-link link" href="#about">About us</a>
      </li>
      <li class="menu-item-header-window">
        <a class="menu-link link" href="#collection">Our collection</a>
      </li>
      <li class="menu-item-header-window">
        <a class="menu-link link" href="#order">Customer order</a>
      </li>
      <li class="menu-item-header-window">
        <a class="menu-link link" href="#testimonials">TEstimonials</a>
      </li>
    </ul>




  </div>
</div>