<div class="mobile-menu js-mobile-menu">
  <div class="mobile-menu-container">
    <button class="mobile-menu-close-btn js-mobile-menu-close-btn">
      <svg
        class="mobile-menu-close-icon"
        width="36"
        height="36"
        aria-label="mobile menu close icon"
      >
        <use href="./img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <address class="mobile-contact link">
      <a class="mobile-contact-link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a>
    </address>

    <nav class="mobile-navigation">
      <ul class="mobile-nav-list list">
        <li class="mobile-nav-item">
          <a class="mobile-nav-item-link link" href="#about">About us</a>
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-item-link link" href="#collection"
            >Our collection</a
          >
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-item-link link" href="#order-form"
            >Customer order</a
          >
        </li>
        <li class="mobile-nav-item">
          <a class="mobile-nav-item-link link" href="#testimonials"
            >Testimonials</a
          >
        </li>
      </ul>
    </nav>    
  </div>
</div>