

/* ======================================================================================= */

.menu-header {
    display: none;
}

.contacts {
    display: none;
}

.page-header {
    padding-top: 20px;
}

.logotype { 
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 39px;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.page-header-container {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
}

.social-list-header {
    display: flex;
    gap: 12px;
    justify-content: center;
align-items: center;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    background: rgba(252, 249, 249, 0.1);
}

.social-list-icon {
    fill: var(--primary-color);
}

.social-list-link:hover,
.social-list-link:focus {
    border-color: var(--accent-color);
}

.open-mobile-menu-btn {
    line-height: 0;
    margin-left: 12px;
    padding: 0;
    border: 0;
    width: 36px;
    height: 24px;
    background-color: var(--secondary-color);
}


@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        margin-left: 20px;
    }


}

@media screen and (min-width: 1280px) {
    .open-mobile-menu-btn {
        display: none;
    }
    
    
    

    .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 25px;

    }

    .menu-item-header {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        /* 128.571% */
        text-transform: uppercase;
    }

    .contacts {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-link {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.43;
        /* 142.857% */
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 195px;
        height: 50px;
        padding: 14px 28px;
        border-radius: 15px;
        border: 1px solid rgba(252, 249, 249, 0.1);
    }
.contact-link:hover,
.contact-link:focus{
    border-color: var(--accent-color);  
}
    .contacts-social-list-header {
        display: flex;
    }

    .page-navigation {
        display: flex;
    }

    .header {
        display: flex;
    }

    .logotype {
        margin-right: 60px;
    }

    .social-list-header {
        margin-left: 20px;
    }
.menu-link-header:hover,
.menu-link-header:focus
{
color: var(--accent-color);
}
}

