.accent-color {
  color: var(--accent-color);
}
.hero {
  margin-top: 60px;
}
.main-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
}
.order-link {
  display: inline-flex;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);

  color: var(--white, #fcf9f9);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  margin-top: 20px;
  margin-left: 70px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.order-link:hover,
.order-link:focus {
  border-color: var(--accent-color);
}
.hero-title-block {
  margin-bottom: 40px;
  width: 100%;
}
.order-link-icon-wrapper {
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-link-icon {
  fill: var(--accent-color);
}
.hero-handmade-block {
  display: none;
}
@media screen and (min-width: 375px) {
  .main-title {
    width: 335px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 375px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}
@media screen and (min-resolution: 192dpi) and (min-width: 1280px) {
}
