.hero { 
  padding-top: 60px;
}
.main-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
}
.order-link {
  display: inline-flex;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);

  color: var(--white, #fcf9f9);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  margin-top: 20px;
  margin-left: 70px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.order-link:hover,
.order-link:focus {
  border-color: var(--accent-color);
}

.hero-title-block {
  width: 100%;
}
.order-link-icon-wrapper {
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-link-icon {
  fill: var(--accent-color);
  transform: rotate(-30deg);
}
.hero-handmade-block {
  display: none;
}
.hero-content-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-girl-img {
  border-radius: 4px;
}
.order-star-icon {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    fill 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media screen and (min-width: 375px) {
  .hero-title-block {
    width: 335px;
  }
}

@media screen and (min-width: 768px) {
  
  .hero > .container {  
    padding-top: 10px;
    position: relative;
  }
  .hero-title-block {
    width: 549px;
  }
  .main-title {
    font-size: 54px;
    line-height: 1.18;
    letter-spacing: -0.03em;
  }
  .order-link {
    margin-top: 40px;
    margin-left: 141px;

    width: 168px;
    padding: 14px 39px;
    font-size: 16px;
  }

  .hero-handmade-block {
    display: block;
  }
  .hero-handmade-text {
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.04em;
    transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .order-star-icon-wrapper {
    width: 115px;
    fill: var(--accent-color);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    right: 16px;
  }
  .order-star-icon:hover {
    fill: var(--primary-color);
    transform: rotate(-360deg);
  }
  .order-star-icon:hover + .hero-handmade-text {
    color: var(--primary-color);
  }
  .hero-handmade-example {
    position: absolute;
    bottom: 0px;
    right: 16px;
  }
  .hero-content-block {
    display: flex;
    flex-direction: column;
    width: 549px;
  }
}

@media screen and (min-width: 1280px) {

  .hero { 
    padding-top: 100px;
  }
  .hero > .container {    
    position: relative;
  }

  .hero-content-block {
    width: auto;
    flex-direction: row;
  }
  .hero-title-block {
    margin-top: 100px;
    width: 518px;
    order: 2;
  }
  .hero-girl-img {
    order: 1;
  }
  .order-star-icon-wrapper {
    position: absolute;
    top: 8px;   
  }
  .hero-handmade-example {
    position: absolute;
    bottom: 0px;
    right: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .hero { 
    padding-top: 106px;
  }
  .hero-title-block {
    margin-top: 70px;
    width: 632px;
  }
  .main-title {
    font-size: 64px;
    line-height: 1.15;
    letter-spacing: -0.02em;
  }
  .order-star-icon-wrapper {
    top: 70px;    
  }
}
