.viewport-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.viewport-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-item-header-window {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  /* 128.571% */
  text-transform: uppercase;
}

.contact-link-window {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  /* 142.857% */
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 195px;
  height: 50px;
  padding: 12px 20px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.10);
}

.menu-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 20px;
  background-color: var(--accent-color);
  background-image: url('../img/mobile-menu/elements@1x.png');
  width: 274px;
  height: 100%;
}

.menu-header-window {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 186px;
  row-gap: 20px;
}

.form-button-menu {
  position: absolute;
  top: 27px;
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.close-black {
  stroke: var(--secondary-color)
}
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
      margin-left: 20px;
  }

  .contact-link-window {
      padding: 14px 28px;
  }

  .menu-window {
      padding: 20px 32px;
      width: 380px;
  }

  .form-button-menu {
      top: 27px;
      right: 32px;
  }

}



