@media screen and (max-width: 767px) {  
    .mobile-menu {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 99999999;
      width: 100%;
      height: 100%;
      background-color: var(--accent-color);
  
      transform: translateX(100%);
      transition: transform 250ms ease-out;
    }
  
    .mobile-menu.is-open {
      transform: translateX(0%);
    }
  
    .mobile-menu-close-btn {
      position: absolute;
      top: 20px;
      right: 32px;
      border: none;
      background-color: transparent;
      padding: 0;
      line-height: 0;
    }
  
    .mobile-menu-close-icon {
      stroke: var(--secondary-color);
    }
  
    .mobile-menu-container {
      padding-top: 134px;
      padding-bottom: 20px;
      padding-left: 32px;
      padding-right: 32px;
    }
  
    .mobile-nav-list {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 24px;
    }
  
    .mobile-nav-item {
      font-family: inherit;
    }
  
    .mobile-nav-item-link {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: -0.02em;
      color: var(--secondary-color);
    }
  
    .mobile-nav-item:first-child > .mobile-nav-item-link {
      color: var(--accent-color);
    }
  }