@media screen and (max-width: 1279px) {
  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0;    
    z-index: 99999999;   
    width: 275px;
    height: 820px;
    background-color: var(--accent-color);    
    transform: translateX(100vw); 

    background-image: url('../img/mobile-menu/elements.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-position: right bottom;   
    background-size: 275px 253px;   
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }  

  .mobile-menu.is-open{
    transform: translateX(0);
    background-color: var(--accent-color);    
  }  

  .mobile-menu-container {
    padding-top: 32px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 21px;
    right: 32px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-close-icon {
    stroke: var(--secondary-color);
  }

  .mobile-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 38px;
    border-radius: 15px;
    border: 2px solid rgba(28, 34, 37, 0.1); 
    margin-bottom: 186px;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-contact-link {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--secondary-color);
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 20px;
  }

  .mobile-nav-item {
    font-family: inherit;
  }

  .mobile-nav-item-link {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28em;
    text-transform: uppercase;
    color: var(--secondary-color);
  }
}

@media screen and (min-width: 375px) {  
  
  .mobile-menu {      
    width: 378px;
    height: 1023px;
    
    background-image: url('../img/mobile-menu/elements.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-position: right bottom;   
    background-size: 378px 364px;   
    
    transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mobile-nav-list {    
    row-gap: 24px;
  }

  .mobile-contact {
    margin-bottom: 223px;
  }  
}

@media screen and (min-width: 1280px) {  
  .mobile-menu {    
    display: none;
  }
}

