@media screen and (max-width: 374px) {
  .order-green-girl {
    width: 100%;
  }

  .order-form-input {
    width: 303px;
  }
}

  .order-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .order-green-girl {
    min-height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/order/photo-bgr/photo-mobile@1x.png);
    margin: 0 auto;
    margin-bottom: 80px;
  }

  .order-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .order-img {
    display: none;
  }

  .order-img-png {
    display: none;
  }

  .order-section-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
  }

  .order-form-input {
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    display: flex;
    /* width: 335px; */
    padding: 14px 16px;
    align-items: flex-start;
    gap: 8px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    margin-bottom: 20px;

    color: rgba(252, 249, 249, 0.5);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.02em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-form-input:hover {
    border: 1px solid rgba(252, 249, 249, 0.6);
  }

  .order-form-comment {
    background-color: transparent;
    outline: transparent;
    resize: none;
    height: 196px;
    margin-bottom: 40px;
  }

  .order-form-submit-button {
    display: flex;
    color: var(--primary-color);
    height: 49px;
    padding: 14px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .order-form-submit-button:hover,
  .order-form-submit-button:focus {
    border-color: var(--accent-color);
  }

  .order-form-button-icon {
    fill: var(--accent-color);
    transform: rotate(-30deg);
  }

  @media screen and (min-width: 375px) {
    
    .order-form-input {
      width: 335px;      
    }
  }

@media screen and (min-resolution: 192dpi) and (min-width: 375px),
  screen and (min-resolution: 2dppx) and (min-width: 375px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 375px) {
  .order-green-girl {
    background-image: url(../img/order/photo-bgr/photo-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .order-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .order-green-girl {
    min-height: 776px;
    width: 100%;
    margin-bottom: 100px;
    background-image: url(../img/order/photo-bgr/photo-tablet@1x.png);
  }

  .order-section {
    background-image: url(../img/order/png-backgrownd/order-elements-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    margin: 0 auto;
  }

  .order-section-title {
    font-family: Manrope;
    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -0.03em;
    max-width: 542px;
  }

  .order-form {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .order-form-input {
    width: 508px;
  }

  .order-form-submit-button {
    padding: 14px 39px;
    height: 50px;
    margin-bottom: 100px;
  }

  .order-img-container {
    position: relative;
    max-height: 600px;
    padding: 0 16px;
  }

  .order-img {
    margin-left: auto;
    display: block;
  }

  .order-img-png {
    display: block;
    position: relative;
    width: 545px;
    height: 484px;
    right: 260px;
    bottom: 396px;
    pointer-events: none;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .order-green-girl {
    background-image: url(../img/order/photo-bgr/photo-tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .order-section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .order-green-girl {
    max-width: 1440px;
    margin-bottom: 150px;
    background-image: url(../img/order/photo-bgr/photo-desktop-1280@1x.png);
  }

  .order-section {
    background-image: url(../img/order/png-backgrownd/order-elements-desktop1280@1x.png);
  }

  .order-items-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }

  .order-img-container {
    margin-right: 50px;
    padding: 0;
  }

  .order-img {
    margin-left: 0;
    display: block;
    min-height: 521px;
  }

  .order-img-png {
    display: block;
    position: relative;
    width: 545px;
    height: 484px;
    right: 50%;
    bottom: 60%;
  }

  .order-form-submit-button {
    margin-bottom: 0;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .order-green-girl {
    background-image: url(../img/order/photo-bgr/photo-desktop-1280@2x.png);
  }
}

@media screen and (min-width: 1440px) {
  .order-green-girl {   
    margin-bottom: 150px;
    background-image: url(../img/order/photo-bgr/photo-desktop-1440@1x.png);
  }
  .order-section-title {
    min-width: 666px;
  }
  .order-section {
    background-image: url(../img/order/png-backgrownd/order-elements-desktop1440@1x.png);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .order-green-girl {
    background-image: url(../img/order/photo-bgr/photo-desktop-1440@2x.jpg);
  }
}
