.accent-color {
  color: var(--accent-color);
}

.order-green-girl {
  min-height: 550px;
  width: 100%;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/order/photo-bgr/photo-mobile@1x.png);
}

.order-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.order-img {
  display: none;
}

.order-img-png {
  display: none;
}

.section-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
}

.order-form-input {
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  display: flex;
  width: 335px;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  background-color: transparent;
  outline: transparent;
  resize: none;

  margin-bottom: 20px;

  color: rgba(252, 249, 249, 0.5);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.order-form-input:hover {
  border: 1px solid rgba(252, 249, 249, 0.6);
}

.order-form-comment {
  background-color: transparent;
  outline: transparent;
  resize: none;
  height: 196px;
}

.order-form-submit-button {
  display: flex;
  color: var(--white, #fcf9f9);
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
}

.order-form-submit-button:hover,
.order-form-submit-button:focus {
  border-color: var(--accent-color);
}

.order-form-button-icon {
  fill: var(--yellow, #ecd979);
  transform: rotate(-30deg);
}

@media screen and (min-width: 768px) {
  .order-green-girl {
    min-height: 776px;
    width: 100%;
    margin-bottom: 100px;
    background-image: url(../img/order/photo-bgr/photo-tablet@1x.png);
  }
  .section-title {
    font-size: 44px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: -1.32px;
    max-width: 542px;
  }
  .order-form {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
  .order-form-input {
    width: 508px;
  }
  .order-form-submit-button {
    width: 165px;
    height: 50px;
    margin-bottom: 100px;
  }
  .order-img-container {
    display: relative;
    max-height: 600px;
    padding: 0 16px;
    /* background-image: url(../img/order/png-backgrownd/vishivka-pixel.png);
    background-repeat: no-repeat;
    background-size: 484px 545px;
    overflow: hidden;
    background-position: bottom left;
    background-size: contain; */
  }
  .order-img {
    margin-left: auto;
    display: block;
  }
  .order-img-png {
    display: block;
    position: relative;
    width: 545px;
    height: 484px;
    right: 260px;
    bottom: 396px;
  }
}

@media screen and (min-width: 1280px) {
  .order-green-girl {
    min-height: 776px;
    width: 100%;
    margin-bottom: 150px;
    background-image: url(../img/order/photo-bgr/photo-desktop-1280@1x.png);
  }
  .order-items-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }
  .order-img {
    margin-left: none;
    display: block;
    min-height: 521px;
  }
  .order-img-png {
    display: block;
    position: relative;
    width: 545px;
    height: 484px;
    right: 50%;
    bottom: 60%;
  }
  .order-form-submit-button {
    margin-bottom: 0;
  }
}
