/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/


@import url('./reset.css');
@import url('./utils.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
/* @import url('./about.css'); */
@import url('./collection.css');
@import url('./order.css');
@import url('./testimonials.css');
/* @import url('./footer.css'); */
@import url('./mobile-menu.css');

:root {
  --secondary-color: #1c2225;
  --primary-color: #fcf9f9;
  --accent-color: #ecd979;
}